Repository AXErunners/axe, pull requests merged in 2020-02, with the labels that each got.

#437 Fix dark text on dark background in combobox dropdowns on windows
  src/qt/res/css/dark.css
Labels: GUI, backport

#436 Refresh test environment
  src/chainparams.cpp
  src/spork.cpp
  test/functional/data/rpc_getblockstats.json
  test/functional/llmq-chainlocks.py
  test/functional/llmq-is-cl-conflicts.py
  test/functional/llmq-is-retroactive.py
  test/functional/test_framework/test_framework.py
Labels: environment

#439 Test stable fix
  src/spork.cpp
Labels: environment

#438 Only sync mempool from proto 70216+ nodes
  src/masternode/masternode-sync.cpp
Labels: backport

#440 Backport bitcoin #13162 and #13946
  src/net_processing.cpp
Labels: backport

#441 Turn on sporks.py and multikeysporks.py
  test/functional/test_runner.py
Labels: environment

#443 Update translations February 2020
  src/qt/locale/axe_pl.ts
  src/qt/locale/axe_tr.ts
  src/qt/locale/axe_zh_TW.ts
Labels: backport

#444 Fix node protection logic false positives
  src/net.cpp
  src/net_processing.cpp
Labels: backport

#450 Backport coverage and missing code
  ci/test_integrationtests.sh
  src/evo/deterministicmns.cpp
  src/llmq/quorums_utils.cpp
  src/privatesend/privatesend.cpp
Labels: backport, environment, masternodes, tests

#448 Add pubKeyOperator to `quorum info` rpc response
  src/rpc/rpcquorums.cpp
Labels: RPC, backport

#453 Fix About icon in Qt
  src/Makefile.qt.include
  src/qt/axe.qrc
  src/qt/res/icons/about.png
Labels: GUI

#456 Update docker user
  .travis.yml
Labels: environment

#458 Fix empty TRAVIS_COMMIT_RANGE for one-commit-branch builds in Travis
  .travis.yml
Labels: backport, environment

#457 Prepare transifex
  .tx/config
Labels: documentation

#455 Try to actually accept newly created dstx-es into masternode's mempool
  src/privatesend/privatesend-server.cpp
Labels: backport

#462 Update core icon
  doc/bitcoin_logo_doxygen.png
  share/pixmaps/axe128.png
  share/pixmaps/axe128.xpm
  share/pixmaps/axe16.png
  share/pixmaps/axe16.xpm
  share/pixmaps/axe256.png
  share/pixmaps/axe256.xpm
  share/pixmaps/axe32.png
  share/pixmaps/axe32.xpm
  share/pixmaps/axe64.png
  share/pixmaps/axe64.xpm
  share/pixmaps/bitcoin.ico
  src/qt/res/icons/about.png
  src/qt/res/icons/bitcoin.icns
  src/qt/res/icons/bitcoin.ico
  src/qt/res/icons/bitcoin.png
Labels: GUI

#464 Release 1.5.0.1
  configure.ac
  doc/man/axe-cli.1
  doc/man/axe-tx.1
  doc/man/axed.1
  doc/release-notes.md
  share/pixmaps/bitcoin.ico
Labels: release

#469 Backport PrivateSend tests
  test/functional/privatesend.py
  test/functional/test_runner.py
Labels: backport, environment

#470 Upstream backports 0.16-01
  CONTRIBUTING.md
  configure.ac
  contrib/debian/examples/axe.conf
  contrib/linearize/README.md
  doc/developer-notes.md
  doc/init.md
  doc/zmq.md
  src/Makefile.am
  src/arith_uint256.h
  src/chain.h
  src/compat/byteswap.h
  src/compat/endian.h
  src/crypto/common.h
  src/cuckoocache.h
  src/dbwrapper.cpp
  src/httpserver.cpp
  src/init.cpp
  src/keystore.h
  src/miner.h
  src/policy/feerate.h
  src/policy/policy.cpp
  src/prevector.h
  src/qt/bitcoingui.cpp
  src/qt/macdockiconhandler.mm
  src/qt/macnotificationhandler.mm
  src/qt/networkstyle.cpp
  src/qt/test/rpcnestedtests.cpp
  src/qt/test/test_main.cpp
  src/script/script.h
  src/script/standard.cpp
  src/script/standard.h
  src/streams.h
  src/test/README.md
  src/test/addrman_tests.cpp
  src/test/blockencodings_tests.cpp
  src/test/coins_tests.cpp
  src/test/data/tx_invalid.json
  src/test/data/tx_valid.json
  src/test/versionbits_tests.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/wallet/wallet.cpp
  test/functional/example_test.py
  test/functional/net.py
  test/functional/pruning.py
  test/functional/rawtransactions.py
  test/functional/test_runner.py
Labels: backport
