Repository AXErunners/axe, pull requests merged in 2020-01, with the labels that each got.

#389 Decouple cs_mnauth/cs_main
  src/evo/mnauth.cpp
Labels: backport

#390 Fix the way nodes are connected to each other in setup_network/start_masternodes
  test/functional/test_framework/test_framework.py
Labels: backport, environment

#391 Allow re-signing of IS locks when performing retroactive signing
  src/llmq/quorums_instantsend.cpp
  src/llmq/quorums_instantsend.h
  src/llmq/quorums_signing.cpp
  src/llmq/quorums_signing.h
  src/llmq/quorums_signing_shares.cpp
  src/llmq/quorums_signing_shares.h
  src/net.cpp
  src/net.h
  src/rpc/net.cpp
  test/functional/llmq-chainlocks.py
  test/functional/llmq-is-retroactive.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/util.py
  test/functional/test_runner.py
Labels: backport

#392 Fix "Resource deadlock avoided" on shutdown
  src/llmq/quorums.cpp
Labels: backport

#393 Backport osslsigncode 2.0
  contrib/gitian-build.py
  contrib/gitian-descriptors/gitian-win-signer.yml
  doc/release-process.md
Labels: build system

#394 Slightly refactor CDKGSessionHandler::SleepBeforePhase
  src/llmq/quorums_dkgsessionhandler.cpp
Labels: backport

#395 Backport bitcoin#12392: Fix ignoring tx data requests when fPauseSend is set on a peer
  src/net_processing.cpp
Labels: backport

#396 Make sure mempool txes are properly processed by CChainLocksHandler despite node restarts
  src/dsnotificationinterface.cpp
  src/dsnotificationinterface.h
  src/llmq/quorums_chainlocks.cpp
  src/llmq/quorums_chainlocks.h
  src/validation.cpp
  src/validationinterface.cpp
  src/validationinterface.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/zmq/zmqnotificationinterface.cpp
  src/zmq/zmqnotificationinterface.h
Labels: backport

#399 Bump wait_for_chainlocked_block_all_nodes timeout in llmq-is-retroactive.py to 30 sec when mining lots of blocks at once
  test/functional/llmq-is-retroactive.py
Labels: backport, environment

#400 Fix menu bar text color in Dark theme
  src/qt/res/css/dark.css
Labels: GUI, backport

#401 Tolerate parent cache with empty cache-artifact directory
  .gitlab-ci.yml
Labels: backport

#402 Fix log output in CDKGPendingMessages::PushPendingMessage
  src/llmq/quorums_dkgsessionhandler.cpp
Labels: backport

#403 Try to avoid being marked as a bad quorum member when we sleep for too long in SleepBeforePhase
  src/llmq/quorums_dkgsessionhandler.cpp
  src/llmq/quorums_dkgsessionhandler.h
Labels: backport

#404 Skip mnsync restrictions for whitelisted and manually added nodes
  src/masternode/masternode-sync.cpp
  src/netfulfilledman.cpp
  src/netfulfilledman.h
Labels: backport

#405 Fix pull request detection in .gitlab-ci.yml
  .gitlab-ci.yml
Labels: backport

#406 Fix params.size() check in "protx list wallet" RPC
  src/rpc/rpcevo.cpp
Labels: RPC, backport

#407 Streamline, refactor and unify PS checks for mixing entries and final txes
  src/privatesend/privatesend-client.cpp
  src/privatesend/privatesend-server.cpp
  src/privatesend/privatesend-server.h
  src/privatesend/privatesend.cpp
  src/privatesend/privatesend.h
Labels: backport

#408 Push islock invs when syncing mempool
  src/llmq/quorums_instantsend.cpp
  src/llmq/quorums_instantsend.h
  src/net_processing.cpp
Labels: backport

#409 Sync mempool from other nodes on start
  src/init.cpp
  src/masternode/masternode-sync.cpp
  src/validation.h
Labels: backport

#410 Don't disconnect masternode connections when we have less then the desired amount of outbound nodes
  src/masternode/masternode-utils.cpp
  src/net.cpp
  src/net.h
Labels: backport

#411 Backport fixes for integration tests
  test/functional/p2p-versionbits-warning.py
  test/functional/wallet-encryption.py
Labels: backport

#412 Use -Wno-psabi for arm builds on Travis/Gitlab
  ci/matrix.sh
Labels: backport, environment

#413 Move privatesend rpc methods from rpc/masternode.cpp to new rpc/privatesend.cpp
  src/Makefile.am
  src/rpc/masternode.cpp
  src/rpc/privatesend.cpp
  src/rpc/register.h
Labels: RPC

#414 Tweak few more strings re mixing and balances
  src/init.cpp
  src/qt/forms/optionsdialog.ui
  src/qt/overviewpage.cpp
  src/qt/sendcoinsdialog.cpp
  src/rpc/misc.cpp
  src/rpc/privatesend.cpp
  src/wallet/rpcwallet.cpp
Labels: backport

#415 AppInitMain should quit early and return `false` if shutdown was requested at some point
  src/init.cpp
Labels: backport

#416 Drop new connection instead of old one when duplicate MNAUTH is received
  src/evo/mnauth.cpp
Labels: backport

#417 Don't load caches when blocks/chainstate was deleted and also delete old caches
  src/init.cpp
Labels: backport

#419 Move travis badges
  README.md
Labels: misc

#420 Only load valid themes, fallback to "Light" theme otherwise
  src/qt/axe.qrc
  src/qt/guiutil.cpp
  src/qt/optionsdialog.cpp
Labels: GUI, backport

#421 Let regtest have its own qt settings
  src/qt/guiconstants.h
  src/qt/networkstyle.cpp
Labels: GUI, backport, environment

#423 fix miner tests, sighash data and enable them
  src/Makefile.test.include
  src/test/data/sighash.json
  src/test/miner_tests.cpp
Labels: environment

#422 Define defaultTheme and darkThemePrefix as constants and use them instead of plain strings
  src/qt/guiutil.cpp
Labels: GUI

#425 Replace generic CScopedDBTransaction with specialized CEvoDBScopedCommitter
  src/dbwrapper.h
  src/evo/evodb.cpp
  src/evo/evodb.h
Labels: backport

#426 man pages January 2020
  doc/man/axe-cli.1
  doc/man/axe-tx.1
  doc/man/axed.1
Labels: documentation

#427 Update translations January 2020
  src/Makefile.qt.include
  src/qt/axe_locale.qrc
  src/qt/axestrings.cpp
  src/qt/locale/axe_ar.ts
  src/qt/locale/axe_bg.ts
  src/qt/locale/axe_de.ts
  src/qt/locale/axe_en.ts
  src/qt/locale/axe_es.ts
  src/qt/locale/axe_fi.ts
  src/qt/locale/axe_fr.ts
  src/qt/locale/axe_it.ts
  src/qt/locale/axe_ja.ts
  src/qt/locale/axe_ko.ts
  src/qt/locale/axe_nl.ts
  src/qt/locale/axe_pl.ts
  src/qt/locale/axe_pt.ts
  src/qt/locale/axe_ro.ts
  src/qt/locale/axe_ru.ts
  src/qt/locale/axe_sk.ts
  src/qt/locale/axe_sv.ts
  src/qt/locale/axe_th.ts
  src/qt/locale/axe_tr.ts
  src/qt/locale/axe_vi.ts
  src/qt/locale/axe_zh_CN.ts
  src/qt/locale/axe_zh_TW.ts
Labels: backport

#428 Fix integration/util tests
  ci/test_integrationtests.sh
  src/Makefile.test.include
  src/spork.cpp
  src/test/subsidy_tests.cpp
  src/validation.cpp
  test/functional/data/rpc_getblockstats.json
  test/functional/llmq-chainlocks.py
  test/functional/llmq-is-cl-conflicts.py
  test/functional/llmq-is-retroactive.py
  test/functional/test_framework/test_framework.py
  test/util/data/bitcoin-util-test.json
  test/util/data/tt-delin1-out.json
  test/util/data/tt-delout1-out.json
  test/util/data/tt-locktime317000-out.json
  test/util/data/txcreatedata1.hex
  test/util/data/txcreatedata1.json
  test/util/data/txcreatedata2.hex
  test/util/data/txcreatedata2.json
  test/util/data/txcreatedata_seq0.hex
  test/util/data/txcreatedata_seq0.json
  test/util/data/txcreatemultisig1.json
  test/util/data/txcreateoutpubkey1.json
  test/util/data/txcreatesignv1.hex
  test/util/data/txcreatesignv1.json
  test/util/data/txcreatesignv2.hex
Labels: environment

#429 Various fixes for DSTX-es
  src/dsnotificationinterface.cpp
  src/net.h
  src/net_processing.cpp
  src/privatesend/privatesend.cpp
  src/privatesend/privatesend.h
Labels: backport

#430 Fix dip4-coinbasemerkleroots.py race condition
  test/functional/dip4-coinbasemerkleroots.py
Labels: backport, bug, environment

#431 Fix CActiveMasternodeManager::GetLocalAddress to prefer IPv4 if multiple local addresses are known
  src/masternode/activemasternode.cpp
Labels: backport

#432 Drop unused `invSet` in `CDKGSession`
  src/llmq/quorums_dkgsession.cpp
  src/llmq/quorums_dkgsession.h
Labels: backport

#433 Update translations January 2020-2
  src/qt/locale/axe_es.ts
  src/qt/locale/axe_ko.ts
  src/qt/locale/axe_ro.ts
  src/qt/locale/axe_zh_TW.ts
Labels: backport

#435 Add `automake` package to axe-win-signer's packages list
  contrib/gitian-descriptors/gitian-win-signer.yml
Labels: backport
